<!-- ユーザーの詳細 -->
<div>
  <!--showアクションで定義した@user,ユーザーの名前と画像を表示-->
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <!--画面に表示しているユーザー(@user)と、
  ログインしているユーザー(current_user)のIDが一致するか確認する
  一致していればプロフィール編集リンクを表示させる-->  
  <% if @user == current_user %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
</div>

<!-- ユーザーの投稿一覧 -->
<%= render 'post_images/list', post_images: @post_images %>